@import "tailwindcss";
.container{
max-width: 750px;
width: 100%;
margin-left: auto;
margin-right: auto;
padding-left: 15px;padding-right: 15px;
}
.logo{
  font-family: math;
  font-weight: 700;
  font-style: italic;
  letter-spacing: 4px;
}
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  line-height: 1.2;
}

body,
html {
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  cursor: pointer;
}

a:focus-visible {
  outline: none;
}
input:focus-visible {
  outline: none;
}

ul {
  list-style: none;
}

@media screen and (max-width: 575px) {
  .container{
    max-width: 100%;
    padding-left: 10px;padding-right: 10px;
    }
}